.header-left {
  width: 162px;
  height: 48px;
  background: url('../image/header-logo-black.png') 0% 0% /cover no-repeat;
}

.header-right a {
  box-sizing: border-box;
  display: inline-block;
  color: #000;
  height: 70px;
  line-height: 70px;
}

.fix {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 10px 0px;
}

.main {
  width: 990px;
  margin: 70px auto;
  /* border: 1px solid red; */
}

.news {
  width: 990px;
  height: 368px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {

  width: 630px;
  height: 354px;
  background: url(../image/duty/qingshan.jpg) no-repeat 0 0/cover;

}

.content {

  width: 320px;
  height: 367px;
  background: #fff;
}

.content ul {
  list-style: none;
  margin-top: -10px;

}

.content ul li {
  width: 320px;
  height: 19px;
  font-size: 14px;
  margin: 12px 0;
}


.content ul li:before {
  content: '';
  display: inline-block;
  position: relative;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  background: #000;
  top: 15px;

  /* margin-right: 5px; */
}

.content ul li a {
  display: inline-block;
  color: #333;
  width: 310px;
  height: 19px;
  /* margin-left: 8px; */
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}

.content ul li a:hover {
  color: #de891d
}

.newsHeader {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.newsHeader .icon {
  display: inline-block;
  width: 200px;
  height: 14px;
  line-height: 14px;
  text-indent: 18px;
  background: url(../image/duty/icon.png) no-repeat 0 0/contain;
  text-align: left;
}

.newsHeader a {
  color: #999;
  text-decoration: none;
}

.title {
  color: #333;
  height: 38px;
  width: 240px;
  font-size: 42px;
  font-weight: normal;
  border-bottom: 20px solid #FFD161;
  margin-bottom: 10px;
}

.sub_title {
  font-size: 24px;
  color: #333;
  text-indent: 40px;
}

.circle_wrap {
  /* border: 1px blue dashed; */
  width: 990px;
  height: 324px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.circle_wrap>div {
  width: 270px;
  height: 270px;
  background: url(../image/duty/circle.png) no-repeat 0 0/cover;
  border: 1px dotted yellow;
}

.circle_content {
  width: 210px;
  /* border: 1px black solid; */
  text-align: center;
  color: #333;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.circle_header {
  font-size: 28px;
  font-weight: normal;
}

.circle_bar {
  width: 90px;
  height: 6px;
  background: #ffd161;
  margin: 15px auto;
}

.circle_text {
  font-size: 14px;
  text-align: left
}

.triangle_wrap {
  width: 469px;
  height: 439px;
  background: url(../image/duty/triangle.png) no-repeat 0 0/cover;
  margin: 0 auto;
}

.triangle_wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

/* .triangle_wrap>div {
  border: 1px solid red; 
} */

.tri_top {
  height: 123px;
  text-align: center;
}

.tri_top>.tri_text {
  position: relative;
  top: 45px;

}

.tri_top>.tri_text:hover {
  background: #7082df;
  border: none;
}


.tri_middle {
  height: 120px;
}

.tri_bottom {
  height: 175px;
}

.tri_text {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
}

.tri_text span {
  display: inline-block;
  width: 32px;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.mid_wrap {
  width: 182px;

  position: relative;
  left: 50%;
  top: 30px;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.mid_wrap .tri_text:hover {
  background: #44bd94;
  border: none;
}

.bottom_wrap {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bottom_wrap>li{
  margin-right: 10px;
}
.tri_bottom p{
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.bottom_wrap .tri_text:hover{
  background: #469ad1;
  border: none;
}