
.header-left {
  width: 162px;
  height: 48px;
  background: url('../image/header-logo-black.png') 0% 0% /cover no-repeat;
}

.header-right a {
  box-sizing: border-box;
  display: inline-block;
  color: #000;
  height: 70px;
  line-height: 70px;
}

.fix {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 10px 0px;
}


.top {
  margin-top: 68px;
  width: 100%;
  height: 320px;
  background: url(../image/join/bg.png) no-repeat 0 0/cover;
}

.bottom {
  width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom a {
  width: 490px;
  height: 480px;
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .08);
}

a.last {
  width: 1000px;
  height: 480px;
}

.item_01,
.item_02,
.item_03,
.item_04 {
  /* float: left; */
  width: 490px;
  height: 320px;
  background: url(../image/join/01.png) no-repeat 0 0/contain;
  margin-bottom: 30px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .08)
}

.item_02 {
  background: url(../image/join/02.png) no-repeat 0 0/contain;
}

.item_03 {
  background: url(../image/join/03.png) no-repeat 0 0/contain;
}

.item_04 {
  background: url(../image/join/04.png) no-repeat 0 0/contain;
}

.item_05 {
  width: 1000px;
  height: 320px;
  background: url(../image/join/05.png) no-repeat 0 0/contain;

  margin-bottom: 40px;
}


.bottom a:hover {
  outline: 3px #FFB40A solid;
}

.title {
  font-weight: normal;
  font-size: 36px;
  color: #000;
  font-family: PingFangSC-Semibold, Microsoft Yahei, Arial, Helvetica, sans-serif;
  text-align: center;
}

.intr {
  font-size: 18px;
  color: #888;
  font-family: PingFangSC-Semibold, Microsoft Yahei, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10px;
}