.header-left {
  width: 162px;
  height: 48px;
  background: url('../image/header-logo-black.png') 0% 0% /cover no-repeat;
}

.header-right a {
  box-sizing: border-box;
  display: inline-block;
  color: #000;
  height: 70px;
  line-height: 70px;
}

.fix {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 10px 0px;
}

.content {
  width: 1000px;
  margin: 68px auto;
  position: relative;
}

.content::before {
  content: '';
  display: table;
}

.content a {
  display: block;
  width: 1000px;
  height: 320px;
  text-decoration: none;
  color: #fff;
}

.content a:hover {
  outline: 3px #FFB40A solid;
}

.top {
  margin: 60px auto;
  background: url(../image/open/1.png) no-repeat
}

.mid {
  margin: 60px auto;
  background: url(../image/open/2.png) no-repeat
}

.bottom {
  margin: 60px auto;
  background: url(../image/open/3.png) no-repeat
}

a .title {
  font-weight: normal;
  font-size: 40px;
  font-family: PingFangSC-Semibold, Microsoft Yahei, Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.intr {
  font-size: 20px;
  font-family: PingFangSC-Semibold, Microsoft Yahei, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #000;
  background: #fff;
  padding: 12px 40px;
  position: relative;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%)
}